{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block content %} 

<div class='aboutproduct'>

  <h1 style="text-align:center; margin-bottom: 30px;">product info</h1>

  <div class="ABTproduct">
    <div class="ABTimage">
      <img src="static\image\products\chyau.jpg">
    </div>
    <div class="ABTdetailsContainer">
      <h2 class="ABTproductName">chyau</h2>
      <p class="ABTdescription">mushrom</p>
      <div class="ABTprice">$3</div>
      
    </div>
  </div>

  <div class="ABTproduct">
    <div class="ABTimage">
      <img src="static\image\products\banana.jpg">
    </div>
    <div class="ABTdetailsContainer">
      <h2 class="ABTproductName"> banana </h2>
      <p class="ABTdescription">yellow</p>
      <div class="ABTprice">$5</div>
    </div>
  </div>

  <div class="ABTproduct">
    <div class="ABTimage">
      <img src="static\image\products\apple.jpg">
    </div>
    <div class="ABTdetailsContainer">
      <h2 class="ABTproductName">apple</h2>
      <p class="ABTdescription">red apple</p>
      <div class="ABTprice">$0.99</div>
    </div>
  </div>
</div>
{% endblock %}
